@import '../../variables';

.Nav {
  display:flex;
  justify-content: center;
  height:10vh; 

  .nav-bar {
    display: flex;
    align-items:center;  
  }
  
  button {
    margin:5px;
    padding:5px;
    box-sizing:border-box;
    border:none;
    border-radius:5px;
    background-color:rgb(229, 229, 247);
    box-shadow: 1px 2px 1px 4px rgb(52, 53, 53);
    color: $primary;  
  }
  
  button:hover{
    background-color:rgb(146, 146, 223);
    color:white;
    transform:scale(1.1);
  }  
}  

/* At media have buttons along top collapse to accordian
    

    */