
.App {
  text-align: center;
  font-family: Oswald;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.stats{
  height:50vh;
  display:flex;
  align-content: center;
}
.recs{
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap; 
  padding:15px;
  height:auto;
}
.recordCard{
  background-color: rgb(203, 214, 197);
  margin:15px;
  box-shadow: 4px 4px 9px 3px rgb(117, 121, 120);
  border-radius: 4px;
  box-sizing:border-box;
  width: 20vw;
  height: 15vh;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  color:rgb(87, 117, 216);
}
.tag{
  font-weight:bolder;
  color:rgb(47, 58, 66);
}